@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Racing+Sans+One&display=swap');

/*CSS Variables*/
:root{
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Racing sans one", sans-serif;
}

/* Global styles */

body {
    font-family: var(--primary-font);
    

}
h1, h2, h3{
    font-family: var(--secondary-font);
}

/*Navbar*/
.navbar-brand i {
    font-size: 2rem; /* makes the logo bigger */
}

.section{
    padding-top: 4rem; /*makes sure so the navbar doesn't overlap*/
}
/*Hero section*/

#hero{
    height:600px;
    width:100%; 
    background: url("../images/corey-young-XTktUgGYEkI-unsplash.jpg") no-repeat center center/cover;
    position: relative;
    color: white;
}

#cover-text{
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
}
#cover-text h1{
    font-size: 80px;
    display: inline-block;
    
    
}

#cover-text p {
    width: 50%;
    margin: 0 auto; /* added so element be centered*/
    display: inline-block;
}
.hero-button{
    display: flex;
    flex-direction: row;
    gap: 110px;
    justify-content: center;
}
.discount-text {
    background-color: orange;
    display: inline-block;
    padding: 20px;
    border-radius: 10px 20px;
    text-align: center; 
    margin: 0 auto; 
    
}
.btn-dark {
    background-color: #FFD43B;
}

/*Productcards section*/
.silver-title{
    color:silver;
}
.gold-title{
    color:gold;
}
.pricetag{
    color: red;
    font-size: larger;
}
.card-body{
    background-color: rgba(243, 237, 228, 0.151);
    
}



/*Classes section*/
.class-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 50px;
}
.class-text{
    text-align: center;
    max-width:500px;
}
.table{
    color: black;
}
.schedule-table {
    width: 100%;
    border-collapse: collapse;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
}
.schedule-table th, 
.schedule-table td {
    border: 1px solid #333; /* Lägg till linjer mellan cellerna */
    
    text-align: center;
}
.schedule-table th {
    background-color: rgb(39, 39, 41);
    color: white;
    font-weight: bold;
    
}

.schedule-table td {
    background-color: rgb(243, 243, 240);
    color: black;
}
.table-container{
    margin-bottom: 20px;
    padding: 0 20px;
}

/*About us section*/

#about {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 60px;
}

/* Adjust paragraph width and centering */
#about .col-12 {
    text-align: center; /* Ensures text is centered */
    margin: 0 auto; /* Centers the column horizontally */
}

#about p {
    width: 100%;  /*adjust the width */
    margin: 0 auto;  /* Centers the paragraph horizontally */
    display: block;  /* Ensures paragraph is displayed as a block */
}

/*Gallery*/
#gallery {
    padding: 20px;
    text-align: center;
}

/* Styling for the list */
.gallery-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}

/* styling for the images */
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* makes a effect when user scrolling on the images  */
.gallery-item img:hover {
    transform: scale(1.05);
}




/*Sign up and sign in section*/
#signup{
    margin-top: 70px;
    
}
#signup-form{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.066);
}
.signup-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    margin-left: 10px;
}
.sign-upinfo{
    text-align: center;
    
     
}
.signbuttons .btn-dark{
    margin-right: 10px;
    font-size: larger;
}
/*Footer*/
#contact{
    background-color:rgb(39, 39, 41);
    
    color: white;
    padding-top: 10px;
    
}

.opening-times{
    text-align: center;
    
}
#contact .table-dark * {
    background-color: transparent;
    padding-top: 10px;
}


/*Phone, mail, address section*/
#new-contact{
    justify-content: center;
    padding:20px 0;
    display: flex;
    flex-wrap: wrap;
    gap:60px;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
}
#new-contact i{
    font-size: 160%;
    padding: 5%;
    color: #FFD43B;
}

/*newsletter*/
#newsletter-form{
    background-color: transparent;
    color:white;
    padding-bottom: 10px;
    
  
}

.subscribe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    
}
.subscribe-container .btn-dark{
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
}






@media screen and (max-width: 767px) {
    #cover-text p {
        width: 80%;  
    }
    .opening-times{
        text-align: center;
        margin-top: 60px;
    }
    
}
@media screen and (max-width:480px){
    #new-contact{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:60px;
        justify-content: space-evenly;
        text-align: center;
        list-style-type: none;
    }
}

@media screen and (min-width: 660px){
#hero{
    max-height: 500px;
    
}

}
@media screen and (min-width: 845px) {
    
    .schedule-table th, 
    .schedule-table td {
    border: 1px solid #333; /* Lägg till linjer mellan cellerna */
    padding: 15px 20px;
    text-align: center;
    }
    
}

@media screen and (min-width: 400px){
    .signup-container{
        display: flex;
        flex-direction: column;
        width: 40%;
       
        margin-left: 100px;
    }
    .sign-upinfo{
       text-align: center;
        font-size: larger;
    }
    .sign-upinfo h1{
        font-size: 300%;
    }
    
}